git-daemon-export-ok
.DS_Store
.idea/
.phpintel/
.htaccess
.htpasswd
/conf/
/content/
/static/node_modules/
/static/admin/node_modules/
/tmp/
/vendor/
/composer/
/composer.lock
/index.php
/opsworks.php